.textContainer {
    position: 'relative';
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBox {
    height: 100%;
    width: 60%;
    border: 1px solid gray;
    padding: 10px;
    word-break: break-all;
}

.textTitle {
    text-align: center;
    font-size: 24px;
}

.textContent {
    font-size: 16px;
    text-indent: 32px;
}

.confirmBtn {
    position: fixed;
    right: 12%;
    bottom: 40px;
}

.cursor {
    position: absolute;
    height: 22px;
    border-left: 1px solid black;
    transition: .3s;
}

#contentInput {
    position: absolute;
    width: 1px;
    left: 20%;
    opacity: 0;
    z-index: -1;
}