.selectorContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;  
  flex-wrap: wrap;
  border: 1px solid rgb(230, 230, 230);
  background: #FFF;
  padding: 3px 5px;
  transition: .3s;
}

.selectorItem {
  height: 24px;
  min-width: 40px;
  width: 100%;
  cursor: pointer;
  position: relative;
  outline: none;
  margin-bottom: 1px;
  padding: 0 4px;
  overflow: hidden;
  border-radius: 2px 2px 0px 0px;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  transition: .3s;
  opacity: 1;
}

.selectorItem:hover {
  opacity: .7;
}